@tailwind base;
@tailwind components;
@tailwind utilities;

.scaleUp {
  animation-name: scaleUp;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
